.inner_content1
{
	background: url(../images/finance.jpg);
	background-repeat: no-repeat;
	background-size: 240px 180px;
	width: 240px;
	height: 140px;
}
.inner_content1:hover
{
	background: url(../images/finance1.jpg);
	background-repeat: no-repeat;
	background-size: 240px 180px;
	width: 240px;
	height: 140px;
}
.content_title
{
	color: white;
	width: 240px;
	height: 30px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: 'Tangerine', serif;
    font-size: 20px;
}
.content_title:hover
{
	color: white;
	background-color: #1394ca;
}
.content2
{
	
	width: 240px;
	height: 180px;
	float: left;
	margin: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
}
.inner_content2
{
	background: url(../images/furniture.jpg);
	background-repeat: no-repeat;
	background-size: 240px 180px;
	width: 240px;
	height: 140px;
}
.inner_content2:hover
{
	background: url(../images/furniture1.jpg);
	background-repeat: no-repeat;
	background-size: 240px 180px;
	width: 240px;
	height: 140px;
}

.content_title_link:hover{
	text-decoration:none;
}
.required{
	color: red;
}


div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333 url('../images/loading.gif') no-repeat center center; }



.nav>li>a:active, .nav>li>a:focus {
    text-decoration: none !important;
    background-color: #eee !important;
    color: red;
}

.nav>li>a.active {
    text-decoration: none !important;
    background-color: #eee !important;
    color: red;
}
.float-left{
	float: left;
}

.nextVideo{
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

#loadingDiv2 img{
        position: relative;
    float: left;
    margin-left: 400px;
    width: 20px;
    margin-top: 5px;
   }

   .success_interval{
   	    font-size: 12px;
    color: green;
    margin-bottom: 5px;
   }